<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<h1 class="text-center">Upload Student Image</h1><br><br>

		<div class = "container">
		<!-- form -->
		<div class = "row">
		<form id="form">
				<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<div class="card-body">
						<div class="form-group">
							<label class="col-form-label">firstName</label>
							<input type="text" class="form-control" placeholder="firstName" id="firstName" name="firstName" required="required">
							<p id="error_firstName"></p>
						</div>
						<div class="form-group">
							<label class="col-form-label">lastName</label>
							<textarea class="form-control" placeholder="lastName" id="lastName" rows="3" cols="45" name="lastName" required="required"></textarea>
							<p id="error_lastName"></p>
						</div>
						<div class="form-group">
							<label class="col-form-label">Image</label>
							<input type="file" class="form-control" placeholder="" name="image" id="image" required="required">
							<p id="error_file"></p>
						</div>
						<div class="form-group">
							<label class="col-form-label">email</label>
							<input type="text" class="form-control" placeholder="email" name="email" id="email" required="required">
							<p id="error_email"></p>
						</div>
					</div>
					
						<div class="right-w3l col-md-6">
							<input type="button" id="submit" class="btn btn-primary form-control" value="Submit">
							<br><br>
						</div>
						<a href="/image/show" style="float:left;" class="btn btn-success text-right">Show All</a>
				</div>
				<br>
				<div id="success" class="text-center" style="color:green;"></div>
				<div id="error" class="text-center" style="color:red;"></div>
			</form>
		</div>
		</div>

<p class="text-center">
  	<img src="/images/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
</p>
	<script src="/js/student.js"></script>
</body>
</html>
